.custom-grid {
  background-color: #f0f0f0;
}
.grid-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.grid-header .grid-header-actions {
  display: flex;
  gap: 6px;
}

.dx-datagrid-headers {
  background-color: #eae9ef;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 0.5px solid #d6d5dc;
}
.dx-datagrid .dx-column-lines > td {
  border-left: none;
  border-right: none;
}
.dx-datagrid-rowsview {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 0.5px solid #d6d5dc;
}

.master-detail-container {
  display: flex;
  flex-direction: row-reverse;
}

.dx-header-row
  > td
  > .dx-datagrid-text-content:not(.dx-sort-indicator):not(
    .dx-header-filter-indicator
  ) {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  color: var(--text-primary-light);
}

.dx-datagrid-content .dx-datagrid-table .dx-row > td,
.dx-datagrid-content .dx-datagrid-table .dx-row > tr > td {
  vertical-align: middle;
}
.closed-competioton-message {
  height: 100%;
  width: 100%;
}
.closed-competioton-message h1 {
  margin: auto;
}
