.custom-button {
  padding: 12px 24px 12px 24px;
  border-radius: 6px;
  background-color: var(--primary-color);
  color: var(--text-on-primary);
  border: none;
  outline: none;
  cursor: pointer;
}

.secondary-button {
  background-color: var(--primary-valiant-judge);
}

.cancel-button {
  background: transparent;
  color: var(--text-primary-light);
  text-decoration: underline;
}

.custom-button span {
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
}

.cancel-button span {
  font-weight: 400 !important;
}
