:root {
  --primary-color: #ff2b51;
  --secondary-color: #d6d5dc;
  --primary-variant-judger: #ff842b;
  --text-primary: #000000;
  --text-primary-light: #38354d;
  --text-secondary: #72747e;
  --text-on-primary: #ffffff;
  --text-on-disabled: #cacaca;
  --text-on-secondary-light: #b2b2b8;
  --success: #27c200;
  --alert: #ea1a40;
  --warning: #ffb800;
  --outlines: #41de1a;
  --bg-secondary: #efeff1;
  --bg-primray: #f5f5f5;
  --utilities-success: #27c200;
  --bg-secondaty-ios: #efeff1;
  --tertlary-dark: #6c6a7d;
  --primary-valiant-judge: #ff842b;
}

h1 {
  font-size: 32px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

h3 {
  font-size: 18px;
  font-weight: bold;
}

h4 {
  font-size: 16px;
  font-weight: bold;
}

.text-lg {
  font-size: 18px;
}

.text-md {
  font-size: 16px;
}

.text-sm {
  font-size: 14px;
}
.text-sm-bold {
  font-size: 14px;
  font-weight: bold;
}

.text-xs {
  font-size: 12px;
}

.text-xs-bold {
  font-size: 12px;
  font-weight: bold;
}
/*TODO: TREBA SREDITI CONTAINER*/
.container {
  padding-left: 25px;
  padding-right: 25px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.vertical-align-button {
  vertical-align: middle;
}

.grid-row-button {
  color: var(--primary-color);
  text-decoration: underline;
}
.grid-row-button:hover {
  cursor: pointer;
}
.input-label {
  font-size: 12px;
  line-height: 14px;
  margin: 0;
  margin-bottom: 6px;
}

.error-component {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--tertlary-dark);
  color: var(--bg-secondary);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

button:disabled {
  background-color: var(--tertlary-dark) !important;
  color: var(--text-on-disabled);
}

.validation-error {
  font-size: 12px;
  color: var(--alert);
}
@media screen and (max-width: 767px) {
  .grid-header {
    flex-direction: column !important;
    margin-bottom: 15px;
  }
  .master-grid-content {
    margin-left: 0 !important;
  }
}

.grid-container {
  max-height: 70%;
  overflow-y: auto;
}
